body{
	background: gray;
    font-family: 'MS UI Gothic', cursive;
}
#login{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    background: #555555;
    display: none;
    color: #32CD32;
    text-align: center;
    line-height: 50px;
}
#logout{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    background: #555555;
    display: none;
    color: #32CD32;
    text-align: center;
    line-height: 50px;
}
#container{
	width: 750px;
	height: 500px;
	margin: 10px auto;
}
#chat{
	width: 600px;
	height: 500px;
	float: left;
}
#chat_area{
	width: 590px;
	height: 440px;
    border: 5px solid #444444;
	overflow: auto;
	background: black;
    opacity: 0.8;
}
#chat_area dt{
    margin: 10px 0 0 10px;
    color: white;
}
#chat_area dd{
    margin-top: 5px;
    margin-left: 30px;
    color: white;
}
#send{
	width: 600px;
	height: 50px;
}
#chat_text{
	width: 540px;
	height: 40px;
	border: 5px solid #FAFAD2;
	color: white;
	font-size: 20px;
	font-family: inherit;
	text-indent: 1em;
	background: black;
}
#submit{
	width: 40px;
	height: 40px;
	background: black;
	color: white;
	border-style: none;
	border-top: 3px solid black;
}
#user_area{
	width: 142px;
	height: 492px;
    border: 4px solid #000033;
	background: #EEEEEE;
	float: left;
	position: relative;
    overflow: auto;
    font-family: arial, sans-serif;
    font-size: 15px;
}
#user_area p{
    margin-left: 10px;
}
#prev{
	position: absolute;
	top: 10px;
	right: 10px;
}
#next_area{
	width: 150px;
	height: 500px;
	float: left;
	position: relative;
	display: none;
}
#next{
	position: absolute;
	top: 10px;
	left: 10px;
}
#glayLayer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.6;
	display: none;
}
#overLayer{
	position: fixed;
	top: 30%;
	left: 50%;
	width: 230px;
	height: 45px;
	background: #BBBBBB;
	display: none;
}
#overLayer label{
	margin-left: 10px;
}
#name_text{
	margin-left: 5px;
}