body{
	background: gray;
}
#container{
	width: 750px;
	height: 500px;
	margin: 100px auto;
}
#chat{
	width: 600px;
	height: 500px;
	float: left;
}
#chat_area{
	width: 600px;
	height: 450px;
	overflow: auto;
	background: green;
}
#send{
	width: 600px;
	height: 50px;
}
#chat_text{
	width: 560px;
	height: 40px;
	border: 5px solid #EEA34A;
	color: white;
	font-size: 20px;
	font-family: inherit;
	text-indent: 1em;
	background: black;
}
#submit{
	width: 20px;
	height: 40px;
	background: black;
	color: white;
	border-style: none;
	border-top: 3px solid black;
}
#user_area{
	width: 150px;
	height: 500px;
	background: blue;
	float: left;
	position: relative;
    overflow: auto;
}
#prev{
	position: absolute;
	top: 10px;
	right: 10px;
}
#next_area{
	width: 150px;
	height: 500px;
	float: left;
	position: relative;
	display: none;
}
#next{
	position: absolute;
	top: 10px;
	left: 10px;
}
#glayLayer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.6;
	display: none;
}
#overLayer{
	position: fixed;
	top: 30%;
	left: 50%;
	width: 200px;
	height: 50px;
	background: red;
	display: none;
}
#overLayer label{
	margin-left: 10px;
}
#name_text{
	margin-left: 5px;
}